.form-horizontal .control-label{
    width: 100%;
    margin-left: 11px;
    text-align: right;
    color: #292929;
    font-size: 14px;
    font-weight: normal;
}

.form-group{
    margin-bottom: 40px;
}
.forget-form{
    overflow: hidden;
    margin: 98px 0;
    /*margin-left: 200px;*/
}